<section>
    <div style="font-family:Rockwell; background-image:url(Content/images/Mercado.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; min-height:900px">
        <br />
        <br />
        <h1>Carrinho</h1>
        <div class="container-fluid" style="background-color:snow; min-height:500px">
            <br />
            <br />
            <div id="carrinho" class="col-xs-12">

            </div>
            <div id="finalizar" class="col-xs-12">
                <h1 id="no_products">Não tem produtos no seu carrinho!</h1>
            </div>
            <div id="compra">

            </div>
        </div>
        <br />
        <br />
    </div>
</section>