<section>
    <div style="font-family:Rockwell; background-image:url(Content/images/Mercado.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; min-height:900px">
        <br />
        <br />
        <h1>Contacte-nos</h1>
        <div class="container-fluid" style="background-color:snow">
            <br />
            <br />
            <div class="form-signin">
                <div class="row">
                    <div class="container">
                        <div class="control-group">
                            <div class="controls">
                                <div class="input-prepend">
                                    <label class="control-label"></label>
                                    <input id="nome" class="form-control" placeholder="Nome Completo" required="required" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <div class="input-prepend">
                                    <label class="control-label"></label>
                                    <input id="email" class="form-control" placeholder="Introduza o seu email" required="required" type="email">
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <div class="input-prepend">
                                    <label class="control-label"></label>
                                    <input id="telemovel" class="form-control" placeholder="Número de telemóvel" type="tel">
                                </div>
                            </div>
                        </div>
                        <div class="btn-toolbar">
                            <label class="control-label"></label>
                            <select class="form-control" required="required">
                                <option> Questão Geral</option>
                                <option> Sugestão</option>
                                <option> Problema com produto/produtor</option>
                            </select>
                        </div>
                        <div class="controls">
                            <label class="control-label"></label>
                            <textarea id="mensagem" name="message" class="form-control" placeholder="Escreva a sua mensagem" rows="5" required="required"></textarea>
                        </div>
                        <p>
                            <label class="checkbox">
                                <input type="checkbox"> Subscrever à nossa newsletter
                            </label>
                            <button class="btn btn-primary" onclick="enviar()" type="submit">Enviar</button>
                        </p>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>