<section>
        <div class="container">
            <hr class="prettyline">
            <br>
            <center>
                <h1><b>Área de Login</b></h1>
                <h3>Para ter mais vantagens registe-se na nossa plataforma ou se já é cliente entre na sua conta!</h3>
                <br>
                <button class="btn btn-primary btn-lg" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Entrar/Registar</button>
            </center>
            <br>
            <hr class="prettyline">
        </div>
        <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <br>
                    <div class="bs-example bs-example-tabs">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#signin" data-toggle="tab">Entrar</a></li>
                            <li class=""><a href="#signup" data-toggle="tab">Registar</a></li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div id="myTabContent" class="tab-content">                           
                            <div class="tab-pane fade active in" id="signin">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="userid">Email:</label>
                                            <div class="controls">
                                                <input required="" id="userid" name="userid" class="form-control" placeholder="Introduza o seu email!" type="text">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="passwordinput">Password:</label>
                                            <div class="controls">
                                                <input required="" id="passwordinput" name="passwordinput" class="form-control" placeholder="Introduza a sua password!" type="password">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Tipo de Conta:</label>
                                            <select class="form-control" id="accountype" name="accountype">
                                                <option>Cliente</option>
                                                <option>Produtor</option>
                                            </select>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="rememberme"></label>
                                            <div class="controls">
                                                <label class="checkbox inline" for="rememberme-0">
                                                    <input name="rememberme" id="rememberme-0" value="Remember me" type="checkbox">
                                                    Recordar-me!
                                                </label>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="signin"></label>
                                            <div class="controls">
                                                <button id="signin" name="signin" class="btn btn-success">Entrar</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="signup">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="Email">Email:</label>
                                            <div class="controls">
                                                <input id="Email" name="Email" class="form-control" placeholder="Introduza o email!" required="" type="text">
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="password">Password:</label>
                                            <div class="controls">
                                                <input id="password" name="password" class="form-control" placeholder="Introduza a password!" required="" type="password">
                                                <em>1-8 Caracteres</em>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="reenterpassword">Re-Introduza a Password:</label>
                                            <div class="controls">
                                                <input id="reenterpassword" class="form-control" name="reenterpassword" placeholder="Introduza a password!" required="" type="password">
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">Tipo de Conta:</label>
                                            <select class="form-control" id="accountype" name="accountype">
                                                <option>Cliente</option>
                                                <option>Produtor</option>
                                            </select>
                                        </div>
                                        <br>
                                        <div class="control-group">
                                            <label class="control-label" for="humancheck">Verificar se é humano:</label>
                                            <div class="controls">
                                                <label class="radio inline" for="humancheck-0">
                                                    <input name="humancheck" id="humancheck-0" value="robot" checked="checked" type="radio">Sou uma máquina!
                                                </label>
                                                <label class="radio inline" for="humancheck-1">
                                                    <input name="humancheck" id="humancheck-1" value="human" type="radio">Sou um humano!
                                                </label>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="confirmsignup"></label>
                                            <div class="controls">
                                                <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Registar</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <center>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
</section>