<section>
    <hr class="prettyline">
    <div class="container-fluid col-xs-12">
        <form class="form-signin">
            <h2 class="form-signin-heading">Entre na sua conta!</h2>
            <label for="inputEmail" class="control-label">Endereço Email</label>
            <input id="inputEmail" class="form-control" placeholder="Introduza o seu endereço email" required="" autofocus="" type="email">
            <label for="inputPassword" class="control-label">Password</label>
            <input id="inputPassword" class="form-control" placeholder="Introduza a sua password" required="" type="password">
            <div class="control-group">
                <label class="control-label">Tipo de Conta:</label>
                <select class="form-control" id="accountype" name="accountype">
                    <option>Cliente</option>
                    <option>Produtor</option>
                </select>
            </div>
            <div class="checkbox">
                <label>
                    <input value="remember-me" type="checkbox"> Lembrar-me
                </label>
            </div>
            <button class="btn btn-lg btn-primary col-xs-5" type="submit">Entrar</button>
        </form>
        <br>
    </div>
    <hr class="prettyline">
    <div class="container col-xs-12">
        <br>
        <form class="form-signin">
            <h2 class="form-signin-heading">Ainda não tem conta? De que está à espera?</h2>
            <label for="inputEmail" class="control-label">Endereço Email</label>
            <input id="inputEmail" class="form-control" placeholder="Introduza o endereço email" required="" autofocus="" type="email">
            <label for="inputPassword" class="control-label">Password</label>
            <input id="inputPassword" class="form-control" placeholder="Introduza a password" required="" type="password">
            <div class="control-group">
                <label class="control-label" for="reenterpassword">Re-Introduza a Password:</label>
                <div class="controls">
                    <input id="reenterpassword" class="form-control" name="reenterpassword" placeholder="Introduza a password" required="" type="password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Tipo de Conta:</label>
                <select class="form-control" id="accountype" name="accountype">
                    <option>Cliente</option>
                    <option>Produtor</option>
                </select>
            </div>
            <br>
            <div class="control-group">
                <label class="control-label" for="humancheck">Verificar se é humano:</label>
                <div class="controls">
                    <label class="radio inline" for="humancheck-0">
                        <input name="humancheck" id="humancheck-0" value="robot" checked="checked" type="radio">Sou uma máquina!
                    </label>
                    <label class="radio inline" for="humancheck-1">
                        <input name="humancheck" id="humancheck-1" value="human" type="radio">Sou um humano!
                    </label>
                </div>
            </div>
            <button class="btn btn-lg btn-primary col-xs-5" type="submit">Registar</button>
        </form>
    </div>
    <hr class="prettyline">
</section>