<section>
    <div class="container">
        <div class="row">
            <br />
            <br />
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 id="nome" class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9 col-lg-9">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Email</td>
                                            <td id="email"></td>
                                        </tr>
                                        <tr>
                                            <td>Morada</td>
                                            <td id="morada"></td>
                                        </tr>
                                        <tr id="paypal">
                                            <td>Email Paypal</td>
                                            <td id="epaypal"></td>
                                        </tr>
                                        <tr id="paypal1">
                                            <td>Password</td>
                                            <td id="ppaypal"></td>
                                        </tr>
                                        <tr id="cartao">
                                            <td>Número Cartão Crédito</td>
                                            <td id="numcartao"></td>
                                        </tr>
                                        <tr id="cartao1">
                                            <td>Validade Cartão</td>
                                            <td id="validade"></td>
                                        </tr>
                                        <tr id="cartao2">
                                            <td>Código</td>
                                            <td id="codigo"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="editar" class="form-signin col-md-9 col-lg-9" hidden>
                                <label for="primeironome" class="control-label">Primeiro Nome: </label>
                                <input id="primeironome" class="form-control" placeholder="Introduza o seu primeiro nome" required="" type="text" />
                                <label for="ultimonome" class="control-label">Último Nome: </label>
                                <input id="ultimonome" class="form-control" placeholder="Introduza o seu último nome" required="" type="text" />
                                <label for="registoEmail" class="control-label">Endereço Email</label>
                                <input id="registoEmail" class="form-control" placeholder="Introduza o endereço email" required="" autofocus="" type="email">
                                <label for="registoPassword" class="control-label">Password</label>
                                <input id="registoPassword" class="form-control" placeholder="Introduza a password" required="" type="password">
                                <div class="control-group">
                                    <label class="control-label">Morada: </label>
                                    <input id="address" class="form-control" placeholder="Introduza a sua morada" required="" type="text" />
                                </div>
                                <div id="pagamento" class="control-group">
                                    <label class="control-label">Tipo de Pagamento Preferido:</label>
                                    <select class="form-control" id="paymentype" name="accountype" onchange="pagamento()">
                                        <option>PaySafeCard</option>
                                        <option id="cartaocredito">Cartão de Crédito</option>
                                        <option id="pay">Paypal</option>
                                    </select>
                                    <br />
                                    <div id="card" class="panel panel-default" hidden>
                                        <div class="panel panel-body">
                                            <label for="ncartao" class="control-label">Número do Cartão: </label>
                                            <input id="ncartao" class="form-control" placeholder="Introduza o número do cartão" required="" type="number" />
                                            <hr />
                                            <label for="datavalidade" class="control-label col-xs-12 col-sm-12">Data de Validade: </label>
                                            <label for="mesvalidade" class="control-label col-xs-5 col-sm-5">
                                                <input id="mesvalidade" class="form-control" placeholder="Mês" required="" type="month" />
                                            </label>
                                            <label for="anovalidade" class="control-label col-xs-5 col-sm-5">
                                                <input id="anovalidade" class="form-control" placeholder="Ano" required="" type="number" />
                                            </label>
                                            <hr class="col-xs-12 col-sm-12" />
                                            <label for="code" class="control-label">Código de Segurança: </label>
                                            <input id="code" class="form-control" placeholder="Introduza o código de segurança" required="" type="number" />
                                            <hr />
                                            <label class="control-label" for="marca"></label>
                                            <div class="col-xs-5">
                                                <label class="radio inline" for="visa">
                                                    <input name="cartao" id="visa" value="visa" checked="checked" type="radio">Visa
                                                </label>
                                                <label class="radio inline" for="maestro">
                                                    <input name="cartao" id="maestro" value="maestro" type="radio">Maestro
                                                </label>
                                            </div>
                                            <div class="col-xs-5">
                                                <label class="radio inline" for="mastercard">
                                                    <input name="cartao" id="mastercard" value="mastercard" type="radio">MasterCard
                                                </label>
                                                <label class="radio inline" for="jcb">
                                                    <input name="cartao" id="jcb" value="jcb" type="radio">JCB
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="payment" class="panel panel-default" hidden>
                                        <div class="panel panel-body">
                                            <label for="emailpaypal" class="control-label">Email da conta Paypal: </label>
                                            <input id="emailpaypal" class="form-control" placeholder="Introduza o email" required="" type="email" />
                                            <hr />
                                            <label for="passpaypal" class="control-label">Password: </label>
                                            <input id="passpaypal" class="form-control" placeholder="Introduza a password" required="" type="password" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="loginbotoes" class="panel-footer col-xs-12">
                        <button class="btn btn-warning col-xs-5" onclick="editar()">Editar</button>
                        <button class="btn btn-danger col-xs-5" onclick="logout()">Logout</button>
                    </div>
                    <div id="editarbotoes" class="panel-footer col-xs-12" hidden>
                        <button class="btn btn-warning col-xs-5" onclick="guardar()">Guardar</button>
                        <button class="btn btn-danger col-xs-5" onclick="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>