<section>
    <div style="font-family:Rockwell; background-image:url(Content/images/Mercado.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; min-height:900px">
        <br />
        <br />
        <h1>Produtores</h1>
        <div class="container-fluid" style="background-color:snow">
            <br />
            <br />
            <center class="col-xs-12">
                <h3>Aqui pode encontrar produtores de todo o país e todos os produtos que têm desponiveis.</h3>
                <h3>Caso seja produtor, pode registrar-se e vender no MarketPlace os seus produtos.</h3>
                <br />
                <br />
                <img src="Content/images/Homem.png" alt="Produtores" width="200" height="250" />
            </center>
        </div>
        <br />
        <br />
    </div>
</section>