<section>
    <div style="font-family:Rockwell; background-image:url(Content/images/Mercado.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; min-height:900px">
        <br />
        <br />
        <h1>Produtos</h1>
        <div class="container-fluid" style="background-color:snow">
            <br />
            <br />
            <center>
                <h3>Aqui pode encontrar frutas e legumes da epoca, sem corantes nem conservantes, de produtores de todo o país.</h3>
                <h3>Logo pode escolher os produtos que prefere, ora pela sua area de residencia, ora pela qualidade e fama do produto.</h3>
                <h3>No nosso MarketPlace só vai encontrar produtos de grande qualidade, assegurada pelos produtores nacionais.</h3>
                <img src="Content/images/Pessego.png" alt="Produtos" width="150" height="150" />
            </center>
            <br />
            <br />
        </div>
    </div>
</section>