<section>
    <div style="font-family:Rockwell; background-image:url(Content/images/Mercado.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; min-height:900px">
        <br />
        <br />
        <h1>Região</h1>
        <div class="container-fluid" style="background-color:snow">
            <br />
            <br />
            <center>
                <h3>Como temos produtores de todo o país no MarketPlace, pode pesquisar por região.</h3>
                <h3>O nosso grande objetivo é que possa consumir os produtos horticulas mais frescos da sua região.</h3>
                <h3>Tambem pode utilizar esta funcionalidade para encontrar produtos originais de uma região expecifica.</h3>
                <img src="Content/images/Morangos.png" alt="Região" width="200" height="150" style="margin-top:2.5%" />
            </center>
            <br />
            <br />
        </div>
    </div>
</section>