<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:lawngreen">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="Content/images/Logotipo.png" alt="Logotipo" style="width:60px; height:60px; padding:0px; border:none; margin:0px" />
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="loader" data-bind="css: { active: router.isNavigating }">
                    <i class="fa fa-cog fa-spin fa-2x"></i>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="padding-right:40px">
                <li data-bind="with:router.navigationModel()[0]">
                    <a class="fa fa-money" data-bind="attr: { href: hash }"> MarketPlace</a>
                </li>
                <li data-bind="with:router.navigationModel()[1]">
                    <a class="fa fa-phone" data-bind="attr: { href: hash }"> Contactos</a>
                </li>
                <li id="login" style="display:block" data-bind="with:router.navigationModel()[2]">
                    <a class="fa fa-sign-in" data-bind="attr: { href: hash }"> Login</a>
                </li>
                <li data-bind="with:router.navigationModel()[3]">
                    <a class="fa fa-shopping-cart" data-bind="attr: { href: hash }"> Carrinho</a>
                </li>
                <li id="perfil" style="display:none" data-bind="with:router.navigationModel()[4]">
                    <a class="fa fa-user" data-bind="attr: { href : hash }"> Perfil</a>
                </li>
                <li id="perfil2" style="display:none" data-bind="with:router.navigationModel()[5]">
                    <a class="fa fa-user" data-bind="attr: { href : hash }"> Perfil</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="page-host" data-bind="router: { transition:'entrance' }"></div>
</div>