<section>
    <div style="font-family:Rockwell; background-image:url(Content/images/Mercado.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style=" min-width:100%; max-height:650px">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="Content/images/Fruta.jpg" alt="Fruta" style="height:650px; width:100%" />
                    <div class="carousel-caption">
                        <img src="Content/images/Logotipo.png"/>
                        <h1>Bem Vindo!</h1>
                    </div>
                </div>
                <div class="item">
                    <img src="Content/images/Laranja.jpg" alt="Laranjas" style="height:650px; width:100%" />
                    <div class="carousel-caption">
                        <button type="button" onclick="window.location.href='#marketplace'" class="btn-default btn-lg">MarketPlace</button>                       
                    </div>
                </div>
                <div class="item" >
                    <img src="Content/images/Verduras.png" alt="Verduras" style="height:650px; width:100%" />
                    <div class="carousel-caption">
                        <button type="button" onclick="window.location.href='#login'" class="btn-default btn-lg">Seja nosso cliente</button>
                        <img src="Content/images/Mulher.png" height="500" width="350" />
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
        <br />
        <br />
        <br />
        <div class="container-fluid marketing" style="background-color:snow">
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-lg-4">
                    <a href="#produtos">
                        <img class="rounded-circle" src="Content/images/Pessego.png" alt="Produtos" style="padding-left:150px; position:center" />
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#produtores">
                        <img class="rounded-circle" src="Content/images/Homem.png" alt="Produtores" style="padding-left:150px; position:center" />
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#regiao">
                        <img class="rounded-circle" src="Content/images/Morangos.png" alt="Região" width="350" height="250" style="padding-left:50px; position:center" />
                    </a>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>
        <br />
        <br />
        <br />
        <div class="container-fluid" style="background-color:lightgreen">
            <br />
            <h1>Porquê VegiMarket ?</h1>
            <div class="container col-lg-6" style="padding-left:200px">
                <h2>Rápido</h2>
                <h4>Os produtos chegam a sua casa em menos de 24 horas!</h4>
                <h2>Confiança</h2>
                <h4>Fruta e Legumes da época, sem corantes nem conservantes das quintas mais próximas da sua casa.</h4>
            </div>
            <div class="container col-lg-6" style="padding-right:200px">
                <h2>Saudável</h2>
                <h4>Garantimos a qualidade e a frescura de todos os produtos.</h4>
                <h2>Simples</h2>
                <h4>Com apenas alguns cliques tem o melhor do campo em sua casa.</h4>
                <br />
                <br />
                <br />
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="container-fluid" style="background-color:palegreen">
            <div class="container-fluid col-lg-6" style="float:left; text-align:center; position:center">
                <h1>Produto da Semana</h1>
                <br />
                <img class="img-circle" src="Content/images/Macas.jpg" alt="Maças" width="300" height="300" />
                <br />
                <h3>Maçã Royal Gala</h3>
                <br />
            </div>
            <div class="container-fluid col-lg-6" style="float:right; text-align:center; position:center">
                <h1>Produtor da Semana</h1>
                <br />
                <img class="img-circle" src="Content/images/Produtor.png" alt="Produtor" width="300" height="300" />
                <br />
                <h3>NARCfrutas</h3>
                <br />
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
</section>