<section>
    <div style="font-family:Rockwell; background-image:url(Content/images/Mercado.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style=" min-width:100%; max-height:350px">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="Content/images/Fruta.jpg" alt="Fruta" style="height:350px; width:100%" />
                    <div class="carousel-caption">
                        <img src="Content/images/Logotipo.png" />
                        <h1>Bem Vindo!</h1>
                    </div>
                </div>
                <div class="item">
                    <img src="Content/images/Laranja.jpg" alt="Laranjas" style="height:350px; width:100%" />
                    <div class="carousel-caption">
                        <button type="button" onclick="window.location.href='#marketplace'" class="btn-info btn-lg">MarketPlace</button>
                    </div>
                </div>
                <div class="item">
                    <img src="Content/images/Verduras.png" alt="Verduras" style="height:350px; width:100%" />
                    <div class="carousel-caption">
                        <img src="Content/images/Mulher.png" height="215" width="150" />
                        <br />
                        <br />
                        <button type="button" onclick="window.location.href='#login'" class="btn-info btn-lg">Seja nosso cliente</button>

                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
        <br />
        <br />
        <br />
        <div id="recomendados" class="container-fluid" style="background-color:snow">
            <h1>Produtos Recomendados</h1>
            <div class="container-fluid" style="text-align:center">
                <img onclick="window.location.href='#marketplace'" class="img-circle" src="Content/images/Morangos.png" alt="Morangos" width="200" height="200" />
                <br />
                <h3>Morangos</h3>
                <br />
            </div>
            <div class="container-fluid" style="text-align:center">
                <img onclick="window.location.href='#marketplace'" class="img-circle" src="Content/images/Pessego.png" alt="Pêssegos" width="200" height="200" />
                <br />
                <h3>Pêssegos</h3>
                <br />
            </div>
            <div class="container-fluid" style="text-align:center">
                <img onclick="window.location.href='#marketplace'" class="img-circle" src="Content/images/Laranja.jpg" alt="Laranjas" width="200" height="200" />
                <br />
                <h3>Laranjas</h3>
                <br />
            </div>
        </div>
        <div id="informacoes" class="container-fluid marketing" style="background-color:snow">
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="row">
                    <a href="#produtos">
                        <img class="col-xs-6" src="Content/images/Pessego.png" alt="Produtos" width="150" height="150" style="z-index: 100;margin-top:10%" />
                        <div class="col-xs-6 img-rounded" style="background-color:red; position:absolute;margin-left:25%;height:150px;">
                            <span style="color:ghostwhite;font-size:35px;font-family:'Brush Script MT'">Produtos</span>
                        </div>
                    </a>
                </div>
                <br />
                <br />
                <div class="row">
                    <a href="#produtores">
                        <img class="col-xs-6" src="Content/images/Homem.png" alt="Produtores" width="150" height="150" style="z-index: 100;" />
                        <div class="col-xs-6 img-rounded" style="background-color:lawngreen; position:absolute;margin-left:25%;height:150px;">
                            <span style="color:ghostwhite;font-size:35px;font-family:'Brush Script MT'">Produtores</span>
                        </div>
                    </a>
                </div>
                <br />
                <br />
                <div class="row">
                    <a href="#regiao">
                        <img class="col-xs-6" src="Content/images/Morangos.png" alt="Região" width="150" height="100" style="z-index: 100;margin-top:20%" />
                        <div class="col-xs-6 img-rounded" style="background-color:cornflowerblue; position:absolute;margin-left:25%;height:150px;">
                            <span style="color:ghostwhite;font-size:35px;font-family:'Brush Script MT'">Região</span>
                        </div>
                    </a>
                </div>
                <br />
                <br />
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>
        <br />
        <br />
        <br />
        <div id="razoes" class="container-fluid" style="background-color:lightgreen">
            <br />
            <h1>Porquê VegiMarket ?</h1>
            <div class="container">
                <h2>Rápido</h2>
                <h4>Os produtos chegam a sua casa em menos de 24 horas!</h4>
                <h2>Confiança</h2>
                <h4>Fruta e Legumes da época, sem corantes nem conservantes das quintas mais próximas da sua casa.</h4>
            </div>
            <div class="container">
                <h2>Saudável</h2>
                <h4>Garantimos a qualidade e a frescura de todos os produtos.</h4>
                <h2>Simples</h2>
                <h4>Com apenas alguns cliques tem o melhor do campo em sua casa.</h4>
                <br />
                <br />
                <br />
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="container-fluid" style="background-color:palegreen">
            <div class="container-fluid col-lg-6" style="float:left; text-align:center; position:center">
                <h1>Produto da Semana</h1>
                <br />
                <img class="img-circle" src="Content/images/Macas.jpg" alt="Maças" width="200" height="200" />
                <br />
                <h3>Maçã Royal Gala</h3>
                <br />
            </div>
            <div class="container-fluid col-lg-6" style="float:right; text-align:center; position:center">
                <h1>Produtor da Semana</h1>
                <br />
                <img class="img-circle" src="Content/images/Produtor.png" alt="Produtor" width="200" height="200" />
                <br />
                <h3>NARCfrutas</h3>
                <br />
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
</section>